@font-face {
    font-family: 'ambleregular';
    src: url('font/Amble-Regular-webfont.eot');
    src: url('font/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Amble-Regular-webfont.woff2') format('woff2'),
         url('font/Amble-Regular-webfont.woff') format('woff'),
         url('font/Amble-Regular-webfont.ttf') format('truetype'),
         url('font/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





p

{

font-family: ambleregular ; font-size: 1.5em; color: blue;
  text-align: justify;
} 


.flottant
{

	float: right;
}

.autreparagraphe
{
clear: both;
}

/* dl le dossier 
copier coller le code du fichier css
creer un dossier font copier coller les polices
copier coller (font) apres url('......
*/

/*font-style: italic; "mettre en italic" rien de compliqué */
/* font-weight:bold; "mettre en gras"*/
/*text-decoration:underline;  "sous ligné"*/
/*line-through : barré la ligne /*
/* text-align "aligné le text" right=droite;center=centre;left */
/* text-align:justify; aligné le text pour qu'il prenne proprement la place*/
/* clear both */ 